$main-background-color-dark: #484848;

$primary-color-dark: #616161;
$secondary-color-dark: #dddddd;
$tertiary-color-dark: #f9f9f9;

$bs-dark: 0 0 30px -2px rgba($primary-color-dark, 0.2);
$bsLight-dark: 0 0 30px -2px rgba($primary-color-dark, 0.1);

:export {
  primaryColor: $primary-color-dark;
  secondaryColor: $secondary-color-dark;
  tertiaryColor: $tertiary-color-dark;
}
