#theme-changer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  z-index: 999;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }

  @include icon {
    @include themed() {
      color: t($tertiary-color);
    }
  }
}
